<header>
    <nav>
        <a href="home.html">Home</a>
    </nav>
</header>
<main>
    <h1>Adventuring Forward!</h1>
    <p>
        The realization of what I
        did with my tools ealier
        made me excited to learn
        more.
    </p>
</main>
<footer>
    <div>Copyright 1982 by me!</div>
    <div>I like pumpkin pie</div>
</footer>
